<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Quản lý tài khoản</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="/admin/bootstrap/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<!-- DataTables -->
	<link rel="stylesheet" href="/admin/plugins/datatables/dataTables.bootstrap.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/admin/dist/css/AdminLTE.min.css">
	<!-- AdminLTE Skins. Choose a skin from the css/skins
			 folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="/admin/dist/css/skins/_all-skins.min.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/flexdatalist/jquery.flexdatalist.min.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		.input-mdt{
			cursor: help;
		}
		.table-responsive{
			overflow-x: scroll;
			overflow-y: hidden;
			width: 100%;
		}
		.div-table{
			width: 100%;
			min-width: 800px;
		}
	</style>
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

	<header class="main-header">
		<% include ../alte-header %>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<% include ../alte-left-sidebar %>
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Bảng điều khiển Admin
				<small></small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
				<li><a href="/admin">Admin</a></li>
				<li class="active">Quản lý tài khoản</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					
					<!-- /.box -->

					<div class="box box-success">
						<div class="box-header">
							<h3 class="box-title">Tất cả nhân viên trong hệ thống</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="table-responsive">
								<div class="div-table">
									<table id="example1" class="table table-bordered table-hover">
										<thead>
										<tr>
											<th>Ảnh</th>
											<th>Tên đầy đủ</th>
											<th>Cấp bậc</th>
											<th>Đề tài</th>
											<th>Lần cuối đăng nhập</th>
											<th>Thao tác</th>
										</tr>
										</thead>
										<tbody>
										<%
											var LEVEL = {};
											LEVEL['admin'] = {
												name: 'Admin',
												class: 'label label-danger'
											}
											LEVEL['manager'] = {
												name: 'Manager',
												class: 'label label-success'
											}
											LEVEL['user'] = {
												name: 'Normal User',
												class: 'label label-primary'
											}
											LEVEL['pending-user'] = {
												name: 'Pending User',
												class: 'label label-warning'
											}
										%>
										<% for(var i = 0; i < users.length; i++) { 
											var u = users[i]; 
											u.level = LEVEL[u.level]
											%>
											<tr>
												<td><img title="<%= u.username %>" width="50px" class="img-responsive" src="/<%= ('avatar' in u && 'original' in u.avatar) ? u.avatar.original : 'admin/dist/img/user2-160x160.jpg' %>" ></td>
												<td>
													<a href="<%= '/users/' + u._id %>"><%= u.fullname  %></a>
													<% if ((user.level == 'admin') && (u.level.name != 'Admin')) { %>
														<a href="/admin/login-as?userid=<%= u._id%>" title="Log in as <%= u.fullname %>" ><i class="fa fa-fw fa-eye"></i></a>
													<% } %>
												</td>
												<td><span class="<%= u.level.class %>" title="<%= u.maDeTai %>"><%= u.level.name %></span></td>
												<td><%= u.maDeTai %></td>
												<% var date = new Date(u.lastLogin) %>
												<td><%= (date != 'Invalid Date') ? [date.getFullYear(), date.getMonth() + 1, date.getDate()].join('/') + ', ' + [date.getHours(), date.getMinutes(), date.getSeconds()].join(':') : '' %></td>
												<% if (u.level.name == 'Admin') { %>
													<td>
														<% if (u._id == user._id) { %>
															<div class="input-group input-group-md">
																
																
																<input type="text" title="Chọn trong danh sách hoặc điền Mã đề tài mới" placeholder="Mã đề tài" name="maDeTai" class="form-control flexdatalist input-mdt" data-min-length="0" id="<%= 'maDeTai-' + u._id %>" list="list-maDeTai" value="">
																<datalist id="list-maDeTai">
																	<% for(var j = 0; j < maDeTais.length; j++) { %>
																	<option value="<%= maDeTais[j] %>"><%= maDeTais[j] %></option>
																	<% } %>
																</datalist>
																<div class="input-group-btn">
																	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action
																		<span class="fa fa-caret-down"></span></button>
																	<ul class="dropdown-menu">
																		<li><a style="color: #000" href="#" onclick="assignToHandler('<%= u._id %>')">Assign to</a></li>
																	</ul>
																</div>
																<!-- /btn-group -->
															</div>
														<% } %>
													</td>
												<% } else if (u.level.name == 'Manager') { %>
													<td>
														<div class="input-group input-group-md">
															<input type="text" placeholder="<%= u.maDeTai %>"  class="form-control" disabled value="<%= u.maDeTai %>">
															<div class="input-group-btn">
																<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action
																	<span class="fa fa-caret-down"></span></button>
																<ul class="dropdown-menu">
																	<li><a style="color: #000" href="#" onclick="revokeManagerHandler('<%= u._id %>')">Revoke Manager Role</a></li>
																</ul>
															</div>
														</div>
													</td>
												
												<% } else if ((u.level.name == 'Pending User') || (u.level.name == 'Normal User')){ %>
													<td>
														<div class="input-group input-group-md">
															
															
															<input type="text" placeholder="Mã đề tài" title="Chọn trong danh sách hoặc điền Mã đề tài mới" name="maDeTai" class="form-control flexdatalist input-mdt" data-min-length="0" id="<%= 'maDeTai-' + u._id %>" list="list-maDeTai" value="">
															<datalist id="list-maDeTai">
																<% for(var j = 0; j < maDeTais.length; j++) { %>
																<option value="<%= maDeTais[j] %>"><%= maDeTais[j] %></option>
																<% } %>
															</datalist>
															<div class="input-group-btn">
																<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action
																	<span class="fa fa-caret-down"></span></button>
																<ul class="dropdown-menu">
																	<li><a style="color: #000" href="#" onclick="assignToHandler('<%= u._id %>')">Assign to</a></li>
																	<li><a style="color: #000" href="#" onclick="grantManagerHandler('<%= u._id %>')">Grant Manager Role on</a></li>
																	<% if (u.level.name == 'Normal User') { %>
																	<li><a style="color: #000" href="#" onclick="fireHandler('<%= u._id %>')">Fire</a></li>
																	<% } %>
																</ul>
															</div>
															<!-- /btn-group -->
														</div>
													</td>
												<% } else {%>
													<td></td>
												<% } %>
											</tr>

										<% } %>
										
										</tbody>
										<tfoot>
										<tr>
											<th>Ảnh</th>
											<th>Tên đầy đủ</th>
											<th>Cấp bậc</th>
											<th>Đề tài</th>
											<th>Lần cuối đăng nhập</th>
											<th>Thao tác</th>
										</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->


	
	<div class="modal fade modal-warning" id="modalAddMDT">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<form autocomplete="off" onsubmit="false">
						<h4><i class="icon fa fa-ban"></i> Cảnh báo!</h4>
						<p>Mã đề tài <strong><span id="spanNewMDT">xxx</span></strong> không tồn tại. Cần phải thêm đề tài này vào cơ sở dữ liệu trước.</p>
						<input type="hidden" id="inputNewMDT" disabled="disabled">
						<p>Bạn cần nhập mật khẩu của mình để thực hiện hành động này</p>
						<div id="passwordField" style="margin-top: 5px">
							<input type="password" placeholder="Mật khẩu" id="adminPassword" name="adminPassword" class="form-control" autocomplete="off" value="">
						</div>
						<p></p>
						<p>Nhập thông tin cho đề tài mới</p>
						<div id="tenDeTaiField" style="margin-top: 5px">
							<input type="text" placeholder="Tên đề tài mới" name="tenDeTai" id="tenDeTai" class="form-control" autocomplete="off" value="">
						</div>
						<div id="donViChuTriField" style="margin-top: 5px">
							<input type="text" placeholder="Đơn vị chủ trì" name="donViChuTri" id="donViChuTri" class="form-control" autocomplete="off" value="">
						</div>
						<p></p>
						<p><strong>Lưu ý: Sau khi được thêm, mã đề tài này sẽ không thể bị xóa bỏ</strong></p>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="btnAddMDT" onclick="processAddMDTHandler()">Thêm mã đề tài này</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
			 immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script type="text/javascript">
	// $('.flexdatalist').flexdatalist({
	//       minLength: 0,
	//       valuesSeparator: '_-_'
	//     });
</script>

<!-- Bootstrap 3.3.6 -->
<script src="/admin/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/admin/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script type="text/javascript" src="/javascripts/adminjs.js"></script>
<!-- page script -->
<script src='/javascripts/footer.js'></script>
<script type="text/javascript" src="/javascripts/flexdatalist/jquery.flexdatalist.min.js"></script>
<!-- CryptoJS -->
<script type="text/javascript" src="/javascripts/crypto-js.js"></script>

<script>
	$(function () {

		// $("#example2").DataTable();
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"language": {
				"paginate": {
							"first":      "Trang đầu",
							"last":       "Trang cuối",
							"next":       "Trang sau",
							"previous":   "Trang trước"
					},
					"info": "Đang xem từ _START_ tới _END_ trong tổng số _TOTAL_ bản ghi",
					"search": "Tìm kiếm:",
					"lengthMenu":     "Xem _MENU_ dòng",
					"decimal":        "",
					"emptyTable":     "Không có dữ liệu",
					"infoEmpty":      "Đang xem từ 0 tới 0 trong tổng số 0 bản ghi",
					"infoFiltered":   "(lọc từ tổng số _MAX_ bản ghi)",
					"infoPostFix":    "",
					"thousands":      ",",
					"loadingRecords": "Đang tải...",
					"processing":     "Đang xử lý...",
					"zeroRecords":    "Không có bản ghi nào phù hợp",
					"aria": {
							"sortAscending":  ": activate to sort column ascending",
							"sortDescending": ": activate to sort column descending"
					}
			}
		}).order([0, 'asc']).draw();

		var STR_AUTOCOMPLETION_SEPERATOR = '_-_'

		setTimeout(function () {
			$('.flexdatalist').flexdatalist({
				minLength: 0,
				valuesSeparator: STR_AUTOCOMPLETION_SEPERATOR
			});
			
			$('.flexdatalist-force').flexdatalist({
				minLength: 0,
				selectionRequired: true,
				valuesSeparator: STR_AUTOCOMPLETION_SEPERATOR
			});
		}, 500)
	});
</script>

<script>

	function revokeManagerHandler(userId) {
		setTimeout((function (uid) {
			return function (){
				revokeManager(userId)
			}
		})(userId), 500)
	}

	function revokeManager(userId) {
		console.log('revoking ' + userId);
		$.ajax({
			url: '/admin/revoke/manager',
			method: 'POST',
			data: {
				userId: userId
			},
			success: function (data) {
				// console.log('success');
				// console.log(data);
				if (data.status == 'success'){
					alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.')
				}
				setTimeout(function () {
					window.location.reload(true);
				}, 1000);
			},
			error: function (err) {
				// console.log('error');
				// console.log(err);
				alert(err.responseJSON.error)
			}
		})
	}

	function ob(x) {
		return document.getElementById(x)
	}

	function grantManagerHandler(userId) {
		// console.log('grantManagerHandler invoked');
		setTimeout((function (uid) {
			return function (){
				grantManager(userId)
			}
		})(userId), 500)
	}

	function grantManager(userId) {
		// console.log('grantManager invoked');
		var maDeTai = ob('maDeTai-' + userId).value.trim();
		if (!maDeTai){
			alert('Chưa nhập mã đề tài hoặc mã đề tài không hợp lệ');
			ob('maDeTai-' + userId).focus();
			return;
		}
		$.ajax({
			url: '/admin/grant/manager',
			method: 'POST',
			data: {
				userId: userId,
				maDeTai: maDeTai
			},
			success: function (data) {
				// console.log('success');
				// console.log(data);
				if (data.status == 'success'){
					alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.')
				}
				setTimeout(function () {
					window.location.reload(true);
				}, 1000);
			},
			error: function (err) {
				// console.log('error');
				// console.log(err);
				// alert(err.responseJSON.error)
				var resJSON = err.responseJSON;
				console.log(resJSON);
				if (resJSON.newMDT){
					$('#spanNewMDT').text(resJSON.newMDT);
					$('#inputNewMDT').val(resJSON.newMDT);
					// $('#passwordField').html(``)
					$('#modalAddMDT').modal('show');
				}
				else {
					alert(err.responseJSON.error)
				}
			}
		})
	}

	function assignToHandler(userId) {
		setTimeout((function (uid) {
			return function (){
				assignTo(userId)
			}
		})(userId), 500)
	}

	function assignTo(userId) {
		var maDeTai = ob('maDeTai-' + userId).value.trim();
		if (!maDeTai){
			alert('Chưa nhập mã đề tài hoặc mã đề tài không hợp lệ');
			ob('maDeTai-' + userId).focus();
			return;
		}
		$.ajax({
			url: '/admin/assign/',
			method: 'POST',
			data: {
				userId: userId,
				maDeTai: maDeTai
			},
			success: function (data) {
				// console.log('success');
				// console.log(data);
				if (data.status == 'success'){
					alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.')
				}
				setTimeout(function () {
					window.location.reload(true);
				}, 1000);
			},
			error: function (err) {
				// console.log('error');
				// console.log(err);
				var resJSON = err.responseJSON;
				console.log(resJSON);
				if (resJSON.newMDT){
					$('#spanNewMDT').text(resJSON.newMDT);
					$('#inputNewMDT').val(resJSON.newMDT);
					// $('#passwordField').html(``)
					$('#modalAddMDT').modal('show');
				}
				else {
					alert(err.responseJSON.error)
				}
				
			}
		})
	}

	function processAddMDTHandler(userId) {
		setTimeout((function (uid) {
			return function (){
				processAddMDT(userId)
			}
		})(userId), 500)
	}

	function processAddMDT() {
		var plainPass = $('#adminPassword').val();
		var i = 0;
		while (i < 1000){
			plainPass = CryptoJS.MD5(plainPass).toString();
			i++;
		}
		$.ajax({
			url: '/admin/addMDT',
			method: 'POST',
			data: {
				newMaDeTai: $('#inputNewMDT').val().trim(),
				adminPassword: plainPass,
				tenDeTai: $('#tenDeTai').val().trim(),
				donViChuTri: $('#donViChuTri').val().trim()
			},
			success: function (data) {
				console.log('success');
				console.log(data);
				alert('Cập nhật thành công. Trang sẽ tự reload.')
				setTimeout(function () {
					window.location.reload(true);
				}, 1000);
			},
			error: function (err) {
				console.log('err');
				console.log(err);
				alert(err.responseJSON.error);
				// window.location.reload(true);
			}
		})
	}


	function fireHandler(userId) {
		setTimeout((function (uid) {
			return function (){
				fire(userId)
			}
		})(userId), 500)
	}

	function fire(userId) {
		
		$.ajax({
			url: '/admin/fire/',
			method: 'POST',
			data: {
				userId: userId
			},
			success: function (data) {
				// console.log('success');
				// console.log(data);
				if (data.status == 'success'){
					alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.')
				}
				setTimeout(function () {
					window.location.reload(true);
				}, 1000);
			},
			error: function (err) {
				// console.log('error');
				// console.log(err);
				alert(err.responseJSON.error)
			}
		})
	}
</script>

</body>
</html>
