<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="/admin/bootstrap/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<!-- DataTables -->
	<link rel="stylesheet" href="/admin/plugins/datatables/dataTables.bootstrap.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/admin/dist/css/AdminLTE.min.css">
	<!-- AdminLTE Skins. Choose a skin from the css/skins
			 folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="/admin/dist/css/skins/_all-skins.min.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header class="main-header">
		<!-- Logo -->
		<a href="/admin/index2.html" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>A</b></span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>Admin</b></span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<% include ../alte-custom-menu %>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<% include ../alte-left-sidebar %>
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Bảng điều khiển Admin
				<small></small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
				<li><a href="/admin">Admin</a></li>
				<li class="active">Quản lý tài khoản</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					
					<!-- /.box -->

					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Tất cả nhân viên trong hệ thống</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<table id="example1" class="table table-bordered table-hover">
								<thead>
								<tr>
									<th>Email</th>
									<th>Tên đầy đủ</th>
									<th>Cấp bậc</th>
									<th>Lần cuối đăng nhập</th>
									<th>Thao tác</th>
								</tr>
								</thead>
								<tbody>
								<% for(var i = 0; i < users.length; i++) { 
									var u = users[i]; %>
									<tr>
										<td><%= u.username %></td>
										<td><%= u.fullname %></td>
										<td><span class="<%= u.level.class %>" title="<%= u.maDeTai %>"><%= u.level.name %></span></td>
										<% var date = new Date(u.lastLogin) %>
										<td><%= (date != 'Invalid Date') ? [date.getFullYear(), date.getMonth() + 1, date.getDate()].join('/') + ', ' + [date.getHours(), date.getMinutes(), date.getSeconds()].join(':') : '' %></td>
										<% if (u.level.name == 'Admin') { %>
											<td>
												<% if (u._id == user._id) { %>
													<div class="input-group input-group-md">
														
														
														<input type="text" placeholder="Mã đề tài" title="Đề tài" name="maDeTai" class="form-control" data-min-length="0" id="<%= 'maDeTai-' + u._id %>" list="list-maDeTai" value="">
														<datalist id="list-maDeTai">
															<% for(var j = 0; j < maDeTais.length; j++) { %>
															<option value="<%= maDeTais[j] %>"><%= maDeTais[j] %></option>
															<% } %>
														</datalist>
														<div class="input-group-btn">
															<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action
																<span class="fa fa-caret-down"></span></button>
															<ul class="dropdown-menu">
																<li><a style="color: #000" href="#" onclick="assignTo('<%= u._id %>')">Assign to</a></li>
															</ul>
														</div>
														<!-- /btn-group -->
													</div>
												<% } %>
											</td>
										<% } else if (u.level.name == 'Manager') { %>
											<td>
												<div class="input-group input-group-md">
													<input type="text" placeholder="<%= u.maDeTai %>" title="Đề tài"  class="form-control" disabled value="<%= u.maDeTai %>">
													<div class="input-group-btn">
														<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Action
															<span class="fa fa-caret-down"></span></button>
														<ul class="dropdown-menu">
															<li><a style="color: #000" href="#" onclick="revokeManager('<%= u._id %>')">Revoke Manager Role</a></li>
														</ul>
													</div>
												</div>
											</td>
										
										<% } else if ((u.level.name == 'Pending User') || (u.level.name == 'Normal User')){ %>
											<td>
												<div class="input-group input-group-md">
													
													
													<input type="text" placeholder="Mã đề tài" title="Đề tài" name="maDeTai" class="form-control" data-min-length="0" id="<%= 'maDeTai-' + u._id %>" list="list-maDeTai" value="">
													<datalist id="list-maDeTai">
														<% for(var j = 0; j < maDeTais.length; j++) { %>
														<option value="<%= maDeTais[j] %>"><%= maDeTais[j] %></option>
														<% } %>
													</datalist>
													<div class="input-group-btn">
														<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action
															<span class="fa fa-caret-down"></span></button>
														<ul class="dropdown-menu">
															<li><a style="color: #000" href="#" onclick="assignTo('<%= u._id %>')">Assign to</a></li>
															<li><a style="color: #000" href="#" onclick="grantManager('<%= u._id %>')">Grant Manager Role on</a></li>
															<% if (u.level.name == 'Normal User') { %>
															<li><a style="color: #000" href="#" onclick="fire('<%= u._id %>')">Fire</a></li>
															<% } %>
														</ul>
													</div>
													<!-- /btn-group -->
												</div>
											</td>
										<% } else {%>
											<td></td>
										<% } %>
									</tr>

								<% } %>
								
								</tbody>
								<tfoot>
								<tr>
									<th>Email</th>
									<th>Tên đầy đủ</th>
									<th>Cấp bậc</th>
									<th>Lần cuối đăng nhập</th>
									<th>Thao tác</th>
								</tr>
								</tfoot>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 2.3.8
		</div>
		<strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
		reserved.
	</footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Create the tabs -->
		<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
			<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
			<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Home tab content -->
			<div class="tab-pane" id="control-sidebar-home-tab">
				<h3 class="control-sidebar-heading">Recent Activity</h3>
				<ul class="control-sidebar-menu">
					<li>
						<a href="javascript:void(0)">
							<i class="menu-icon fa fa-birthday-cake bg-red"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

								<p>Will be 23 on April 24th</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="menu-icon fa fa-user bg-yellow"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

								<p>New phone +1(800)555-1234</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

								<p>nora@example.com</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="menu-icon fa fa-file-code-o bg-green"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

								<p>Execution time 5 seconds</p>
							</div>
						</a>
					</li>
				</ul>
				<!-- /.control-sidebar-menu -->

				<h3 class="control-sidebar-heading">Tasks Progress</h3>
				<ul class="control-sidebar-menu">
					<li>
						<a href="javascript:void(0)">
							<h4 class="control-sidebar-subheading">
								Custom Template Design
								<span class="label label-danger pull-right">70%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-danger" style="width: 70%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<h4 class="control-sidebar-subheading">
								Update Resume
								<span class="label label-success pull-right">95%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-success" style="width: 95%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<h4 class="control-sidebar-subheading">
								Laravel Integration
								<span class="label label-warning pull-right">50%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-warning" style="width: 50%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<h4 class="control-sidebar-subheading">
								Back End Framework
								<span class="label label-primary pull-right">68%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-primary" style="width: 68%"></div>
							</div>
						</a>
					</li>
				</ul>
				<!-- /.control-sidebar-menu -->

			</div>
			<!-- /.tab-pane -->
			<!-- Stats tab content -->
			<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
			<!-- /.tab-pane -->
			<!-- Settings tab content -->
			<div class="tab-pane" id="control-sidebar-settings-tab">
				<form method="post">
					<h3 class="control-sidebar-heading">General Settings</h3>

					<div class="form-group">
						<label class="control-sidebar-subheading">
							Report panel usage
							<input type="checkbox" class="pull-right" checked>
						</label>

						<p>
							Some information about this general settings option
						</p>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label class="control-sidebar-subheading">
							Allow mail redirect
							<input type="checkbox" class="pull-right" checked>
						</label>

						<p>
							Other sets of options are available
						</p>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label class="control-sidebar-subheading">
							Expose author name in posts
							<input type="checkbox" class="pull-right" checked>
						</label>

						<p>
							Allow the user to show his name in blog posts
						</p>
					</div>
					<!-- /.form-group -->

					<h3 class="control-sidebar-heading">Chat Settings</h3>

					<div class="form-group">
						<label class="control-sidebar-subheading">
							Show me as online
							<input type="checkbox" class="pull-right" checked>
						</label>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label class="control-sidebar-subheading">
							Turn off notifications
							<input type="checkbox" class="pull-right">
						</label>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label class="control-sidebar-subheading">
							Delete chat history
							<a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
						</label>
					</div>
					<!-- /.form-group -->
				</form>
			</div>
			<!-- /.tab-pane -->
		</div>
	</aside>
	<!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
			 immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script type="text/javascript">
	// $('.flexdatalist').flexdatalist({
	//       minLength: 0,
	//       valuesSeparator: '_-_'
	//     });
</script>

<!-- Bootstrap 3.3.6 -->
<script src="/admin/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/admin/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/admin/dist/js/demo.js"></script>
<!-- page script -->

<script>
	$(function () {
		// $("#example2").DataTable();
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"language": {
				"paginate": {
			        "first":      "Trang đầu",
			        "last":       "Trang cuối",
			        "next":       "Trang sau",
			        "previous":   "Trang trước"
			    },
			    "info": "Đang xem từ _START_ tới _END_ trong tổng số _TOTAL_ bản ghi",
			    "search": "Tìm kiếm:",
			    "lengthMenu":     "Xem _MENU_ dòng",
			    "decimal":        "",
			    "emptyTable":     "Không có dữ liệu",
			    "infoEmpty":      "Đang xem từ 0 tới 0 trong tổng số 0 bản ghi",
			    "infoFiltered":   "(lọc từ tổng số _MAX_ bản ghi)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "loadingRecords": "Đang tải...",
			    "processing":     "Đang xử lý...",
			    "zeroRecords":    "Không có bản ghi nào phù hợp",
			    "aria": {
			        "sortAscending":  ": activate to sort column ascending",
			        "sortDescending": ": activate to sort column descending"
			    }
			}
		}).order([0, 'asc']).draw();
	});
</script>

<script>
	function revokeManager(userId) {
		console.log('revoking ' + userId);
		$.ajax({
			url: '/admin/revoke/manager',
			method: 'POST',
			data: {
				userId: userId
			},
			success: function (data) {
				// console.log('success');
				// console.log(data);
				if (data.status == 'success'){
					alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.')
				}
				setTimeout(function () {
					window.location.reload(true);
				}, 1000);
			},
			error: function (err) {
				// console.log('error');
				// console.log(err);
				alert(err.responseJSON.error)
			}
		})
	}

	function ob(x) {
		return document.getElementById(x)
	}

	function grantManager(userId) {
		var maDeTai = ob('maDeTai-' + userId).value.trim();
		if (!maDeTai){
			alert('Nhập mã đề tài trước');
			ob('maDeTai-' + userId).focus();
			return;
		}
		$.ajax({
			url: '/admin/grant/manager',
			method: 'POST',
			data: {
				userId: userId,
				maDeTai: maDeTai
			},
			success: function (data) {
				// console.log('success');
				// console.log(data);
				if (data.status == 'success'){
					alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.')
				}
				setTimeout(function () {
					window.location.reload(true);
				}, 1000);
			},
			error: function (err) {
				// console.log('error');
				// console.log(err);
				alert(err.responseJSON.error)
			}
		})
	}

	function assignTo(userId) {
		var maDeTai = ob('maDeTai-' + userId).value.trim();
		if (!maDeTai){
			alert('Nhập mã đề tài trước');
			ob('maDeTai-' + userId).focus();
			return;
		}
		$.ajax({
			url: '/admin/assign/',
			method: 'POST',
			data: {
				userId: userId,
				maDeTai: maDeTai
			},
			success: function (data) {
				// console.log('success');
				// console.log(data);
				if (data.status == 'success'){
					alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.')
				}
				setTimeout(function () {
					window.location.reload(true);
				}, 1000);
			},
			error: function (err) {
				// console.log('error');
				// console.log(err);
				alert(err.responseJSON.error)
			}
		})
	}

	function fire(userId) {
		
		$.ajax({
			url: '/admin/fire/',
			method: 'POST',
			data: {
				userId: userId
			},
			success: function (data) {
				// console.log('success');
				// console.log(data);
				if (data.status == 'success'){
					alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.')
				}
				setTimeout(function () {
					window.location.reload(true);
				}, 1000);
			},
			error: function (err) {
				// console.log('error');
				// console.log(err);
				alert(err.responseJSON.error)
			}
		})
	}
</script>

</body>
</html>
