<!DOCTYPE html>
<html>
	<head>
		<title>Config</title>
		<style>
		.btn{
			margin-top: 10px;
		}
		</style>
	<% include header %>
	<script src="/javascripts/jtip.js"></script>
	<style type="text/css" media="all">
	@import "/stylesheets/global.css";
	</style>
	</head>
	
	<body>
		<% include nav %>
		<div style="margin-top: 100px">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-lg-4 col-lg-offset-1">
						<div class="panel-group" id="accordion">
							<div class="panel panel-primary panel-shadow">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Thêm loại quyền mới</a>
									</h4>
								</div>
								<div id="collapse1" class="panel-collapse collapse in">
									<div class="panel-body">
										<form action="/config/roles" method="post" id="form-add-role">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<input type="text" name="rolename" id="rolename" placeholder="Tên" class="form-control" />
												</div>
											</div>
											<div class="row" style="margin-top: 10px">
												<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-top: 10px">
													<label>Quản lý mẫu:</label>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 block" style="padding-left: 0px">
													<select name="side" id="select-new-role" class="form-control">
														<% for(var i in cores.resources) { %>
															<option value="<%= i %>"><%= cores.resources[i].resourceName %></option>
														<% } %>
													</select>
												</div>
											</div>

											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px">
													<label>Các quyền:</label>
												</div>
											</div>
											
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0px;">
														<ul class="list-group">
																<li class="list-group-item">
																	<input name="view" type="checkbox"> 
																	<span> Xem </span>
																</li>
															
																<li class="list-group-item">
																	<input name="create" type="checkbox"> 
																	<span> Thêm </span>
																</li>
															
														</ul>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0px; padding-right: 0px;">
														<ul class="list-group">
																<li class="list-group-item">
																	<input name="edit" type="checkbox"> 
																	<span> Sửa </span>
																</li>
															
																<li class="list-group-item">
																	<input name="delete" type="checkbox"> 
																	<span> Xóa </span>
																</li>
															
														</ul>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<a class="btn btn-success btn-block" onclick="addRole()">Thêm</a>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="panel panel-danger panel-shadow-danger">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Xóa loại quyền</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse">
									<div class="panel-body">
										<form id="form-delete-role" action="/config/roles/delete" method="post">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0px;">
													<select id="select-delete-role" name="deleteRole" class="form-control">
														<% for(var j = 0; j < roles.length; j++) {
															if ((roles[j].role != 'admin') && (roles[j].role != 'manager')) { %>
																<option value="<%= roles[j].role %>"><%= roles[j].rolename %></option>
															<% }
														} %>
													</select>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0px;">
												<a class="btn btn-danger btn-block" style="margin-top: 0px;" onclick="deleteRole()">Xóa</a>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-lg-5">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Tài khoản</h3>
							</div>
							<div class="panel-body">
								<%
									function display(obj){
										// console.log(staticPath)
										// console.log(count)
										if (obj instanceof Array){
											var result =  obj.reduce(function (preStr, curElement){
												// console.log(curElement.split('_+_')[1]);
												preStr += '<a href="' + sp + '/' + curElement + '">' + curElement.split('_+_')[1] + '</a><br/>\n';
												return preStr;
											}, '');
											return result;
										}
										else if (obj instanceof Date){
											return [obj.getHours(), obj.getMinutes(), obj.getSeconds()].join(':') + '<br>' + [obj.getDate(), obj.getMonth() + 1, obj.getFullYear()].join(' / ');
										}
										// Need to escape to prevent injected HTML + JS
										return escape(obj);
									}
								%>
								<ul class="list-group">
									<% for (var i in users) { %>
										<li class="list-group-item">
											<form action="/config" id="<%= i %>" method="post" >
												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
														<h4><%= users[i].fullname %></h4>
														<h5 class="text-info">(<%= users[i].username %>)</h5>
														<% if (users[i].lastLogin) { %>
														<h5 class="text-info">(<%- "Last Login:<br>" + users[i].lastLogin.toLocaleString() %>)</h5>
														<% } %>
														<input type="hidden" value="<%= i %>" name="userid" />
													</div>
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
														<ul class="list-group">
															<% for (var j = 0; j < roles.length; j++) { %>
																<li class="list-group-item">
																	<input <%= (['admin', 'manager'].indexOf(roles[j].role) >= 0) ? 'disabled' : ''%> name="<%= roles[j].role%>" type="checkbox" <%= (users[i].id in aclRules && aclRules[users[i].id].indexOf(roles[j].role) > -1) ? 'checked' : '' %> > </input>
																	<span> <a href="/config/roleTooltip?width=500&amp;role=<%= roles[j].role %>&amp;link=#" name="Các quyền" id="jTip-<%= roles[j].role + '-' + i %>" class="jTip"><%= roles[j].rolename %></a> </span>
																</li>
															<% } %>
														</ul>
													</div>
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
														<button type="button" class="btn btn-primary" onclick="update('<%= i %>')" >Update</button>
													</div>
												</div>
											</form>
										</li>
									 <% } %>
								 </ul>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<script>
			function ob (x) {
				return document.getElementById(x);
			}

			function update (id) {
				console.log(id);
				var fd = new FormData(document.getElementById(id));
				console.log(fd);
				console.log(ob(id));
				$.ajax({
					url: '/config',
					method: 'post',
					contentType: false,
					processData: false,
					dataType: 'json',
					data: fd,
					success: function (data) {
						console.log(data);
						if (data.status.localeCompare('success') == 0){
							alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.');
						}
						setTimeout(function () {
							window.location.reload(true);
						}, 1000);
					},
					error: function (err) {
						console.log(err);
						try {
							alert(err.responseJSON.error);
						}
						finally {
							setTimeout(function () {
								window.location.reload(true);
							}, 1000);
						}
					}
				})
			}

			function addRole () {
				var rolename = ob('rolename').value.trim();
				if (rolename.length < 1){
					return alert('Nhập tên');
				}
				var fd = new FormData(document.getElementById('form-add-role'));
				console.log(fd);
				console.log(ob('form-add-role'));
				$.ajax({
					url: '/config/roles',
					method: 'post',
					contentType: false,
					processData: false,
					dataType: 'json',
					data: fd,
					success: function (data) {
						console.log(data);
						if (data.status.localeCompare('success') == 0){
							alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.');
						}
						setTimeout(function () {
							window.location.reload(true);
						}, 1000);
					},
					error: function (err) {
						console.log(err);
						try {
							alert(err.responseJSON.error);
						}
						finally {
							setTimeout(function () {
								window.location.reload(true);
							}, 1000);
						}
					}
				})
			}

			function deleteRole () {

				var select = ob('select-delete-role');
				var selectedOption = select.children[select.selectedIndex];
				// console.log(option);

				if (!confirm('Xóa cấp "' + selectedOption.innerHTML + '", mọi tài khoản được phân vào cấp này sẽ mất quyền thao tác với mẫu dữ liệu do cấp này quản lý.\n\nThao tác này là không thể phục hồi.\n\nXác nhận xóa?')){
					return;
				}
				
				var fd = new FormData(document.getElementById('form-delete-role'));
				$.ajax({
					url: '/config/roles/delete',
					method: 'post',
					contentType: false,
					processData: false,
					dataType: 'json',
					data: fd,
					success: function (data) {
						console.log(data);
						if (data.status.localeCompare('success') == 0){
							alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.');
						}
						setTimeout(function () {
							window.location.reload(true);
						}, 1000);
					},
					error: function (err) {
						console.log(err);
						try {
							alert(err.responseJSON.error);
						}
						finally {
							setTimeout(function () {
								window.location.reload(true);
							}, 1000);
						}
					}
				})
			}
		</script>
	</body>
</html>
