<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include header %>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
	 integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
	 crossorigin=""/>

	</head>
	<body>
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<% if (typeof(objectModelId) != 'undefined') { %>
					<a class="btn btn-success" role="button" href="<%= '/app/#!' + objectPath + '/chinh-sua/' + objectModelId %>">Chỉnh sửa mẫu dữ liệu này</a>
					<a class="btn btn-primary" role="button" href="<%= '/app/#!/bai-dang' + objectPath %>">Đến trang quản lý mẫu</a>
				<% } %>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<%
				// console.log("here");
				// console.log(staticPath);
				var sp = staticPath;
				// do not know why we need to declare this variable.
				// staticPath can not be accessed inside below functions
				function display(obj){
					// console.log(staticPath)
					// console.log(count)
					function extension(filename) {
						var idx = filename.lastIndexOf('.');
						if (idx >= 0){
							return filename.substring(idx + 1);
						}
						return 'nothing';
					}
					function mediaType(extension) {
						// console.log(extension)
						var imgs = ["jpg", "jpeg", "gif", "png", "tif", "tiff", "raw", "bmp", "bpg", "eps"];
						var videos = ["mp4","mpg","flv","rm","webm","mkv","ogg","avi","mov","wmv","3gp","m4v"];
						if (imgs.indexOf(extension) >= 0){
							return 'image';
						}
						if (videos.indexOf(extension) >= 0){
							return 'video';
						}
						return 'document'
					}
					if (obj instanceof Array){

						var result =  obj.reduce(function (preStr, curElement){
							// console.log(curElement.split('_+_')[1]);
							if (curElement.length < 1){
								return preStr;
							}
							var ext = extension(curElement);
							switch (mediaType(ext)){
								case 'video':
									preStr += '<video width="160" height="120" controls> <source src="/content/download' + sp + '/' + curElement + '"></video>'
									break;
								case 'image':
									preStr += '<a href="/content/download' + sp + '/' + curElement + '">' + '<img class="img-responsive" width="160" src="' + sp + '/' + curElement + '">' + '</a><br/>\n';
									break;
								default:
									preStr += '<a href="/content/download' + sp + '/' + curElement + '">' + curElement.substring(curElement.lastIndexOf('_+_') + '_+_'.length) + '</a><br/>\n';
									break;
							}
							return preStr;
						}, '');
						return result;
					}
					else if (obj instanceof Date){
						return [obj.getDate(), obj.getMonth() + 1, obj.getFullYear()].join(' / ');
					}
					// Need to escape to prevent injected HTML + JS
					return escape(obj).replace(/_-_/g, ', ');
				}

				function propDiff (obj1, obj2, prop) {
					try {
						if ((prop in obj1) && !(prop in obj2)){
							return true;
						}

						if (!(prop in obj1) && (prop in obj2)){
							return true;
						}
						return diff(obj1[prop], obj2[prop]);
					}
					catch (e){
						console.log(e);
						return false;
					}

				}

				function diff (prop1, prop2) {

					// Problem here
					if (!prop1 && !prop2){
						return false;
					}
					if ((!prop1 && prop2) || (prop1 && !prop2)){
						return true;
					}
					// End
					
					if ((prop1 instanceof Array) && (prop2 instanceof Array)){
						if (prop1.length != prop2.length){
							return true;
						}
						for (var i = 0; i < prop1.length; i++) {
							if (prop2.indexOf(prop1[i]) < 0){
								return true;
							}
							var isDifferent = diff(prop1[i], prop2[i]);
							if (isDifferent){
								return true;
							}
						}
						return false;
					}
					if ((prop1 instanceof Date) && (prop2 instanceof Date)){
						return !(prop1 - prop2 == 0);
					}
					if ((typeof(prop1) == typeof(prop2)) && (typeof(prop1) == 'object')){
						if (Object.keys(prop1).length != Object.keys(prop2).length){
							return true;
						}
						var keys = Object.keys(prop1);
						for(var i = 0; i < keys; i++){
							var isDifferent = diff(prop1[keys[i]], prop2[keys[i]]);
							if (isDifferent){
								return true;
							}
						}
						return false;
					}
					if (((typeof(prop1) == typeof(prop2)) && (typeof(prop1) == 'string'))){
						return prop1.localeCompare(prop2)
					}
					return (prop1 !== prop2);
				}
				var diffs = [];
				var obj1 = obj1;
				var obj2 = obj2;
					if (count == 2){
						// console.log(count);
						for(var i in obj1){
							// console.log("processing " + i);
							if (propDiff(obj1, obj2, i)){
								// console.log("pushing " + i);
								diffs.push(i);
							}
						}
						// console.log("===")
						// console.log(count);
						// console.log(obj2);
						for(var i in obj2){
							if (diffs.indexOf(i) < 0){
								if (propDiff(obj1, obj2, i)){
									diffs.push(i);
								}
							}
							
						}
					}
					else {
						// console.log(Object.keys(obj1));
						diffs = Object.keys(obj1).filter(function (element) {
							if (obj1[element] instanceof Array){
								return (obj1[element].length > 0);
							}
							if (obj1[element] instanceof Date){
								return true;
							}
							if (obj1[element] instanceof Object){
								return Object.keys(obj1[element]).length > 0
							}
							return obj1[element] ? true : false;
						});
					}
					
				%>
				<table class="table table-hover">
					<thead>
						<tr>
							<th><strong>Thuộc tính</strong></th>
							<th>Giá trị</th>
							<% if (count == 2) { %>
								<th>Giá trị mới</th>
							<% } %>
						</tr>
					</thead>
					<tbody>
				<% for (var i = 0; i < diffs.length; i++){ %>
					<tr>
						<td><b><%= props[diffs[i]] %></b></td>
						<td><span class="text-info"><%- display(obj1[diffs[i]]) %></span></td>
						<% if (count == 2) { %>
								<td><span class="text-success"><%- display(obj2[diffs[i]]) %></span></td>
						<% } %>
						
					</tr>
				<% } %>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-off-set-3 col-lg-offset-3">
				<div id="leafletdiv" style="height: 750px;">
				
				</div>
				<div id="images"></div>
				<div id="imgleaf"></div>
			</div>
		</div>
		
		<!-- Make sure you put this AFTER Leaflet's CSS -->
		<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
	 integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
	 crossorigin=""></script>
	 <!--Add mapbox.js -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
	 <script type="text/javascript" src='/javascripts/leaflet.browser.print.min.js'></script>
	 <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js'></script>
	 <script type="text/javascript" src="/javascripts/Map.SelectArea.min.js"></script>
	 <script>
		function ob(x) {
			return document.getElementById(x)
		}
		<% 
			let longitude = 0;
			let latitude = 0;
			let zoom = 0;
		%>
		<% 
		let regex = /([0-9 ]+)(°|độ)([0-9 ]+)('|phút)([0-9 ]+)("|giây)/;
		if (obj1.kinhDo && obj1.viDo) {
			if (!(regex.test(obj1.kinhDo.toLowerCase()))){
				// console.log('Tọa độ thực')
				longitude = parseFloat(obj1.kinhDo.toLowerCase());
			}
			else {
				// console.log('Tọa độ rời rạc')
				let matches = obj1.kinhDo.toLowerCase().match(regex);
				longitude = parseInt(matches[1]) + parseInt(matches[3]) / 60 + parseInt(matches[5]) / 60 / 60;
			}
			if (!(regex.test(obj1.viDo.toLowerCase()))){
				// console.log('Tọa độ thực')
				latitude = parseFloat(obj1.viDo.toLowerCase());
			}
			else {
				// console.log('Tọa độ rời rạc')
				let matches = obj1.viDo.toLowerCase().match(regex);
				latitude = parseInt(matches[1]) + parseInt(matches[3]) / 60 + parseInt(matches[5]) / 60 / 60;
			}
		}
		%>
		var longitude = <%= longitude %>
		var latitude = <%= latitude %>
		console.log(longitude);
		console.log(latitude);
		var zoom = 6
		// var mymap = L.map('leafletdiv').setView([latitude, longitude], zoom);
		var mymap = L.map('leafletdiv', {selectArea: true}).setView([16.24261, 106.33832], zoom);
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(mymap);
		mymap.on('areaselected', (e) => {
		  console.log(e.bounds.toBBoxString()); // lon, lat, lon, lat
		});
		L.control.layers({
	      'Satellite Map': L.mapbox.tileLayer('bobbysud.map-l4i2m7nd', {
	          detectRetina: true
	      }).addTo(mymap),
	      'Terrain Map': L.mapbox.tileLayer('bobbysud.i2pfp2lb', {
	          detectRetina: true
	      })
	  }).addTo(mymap);

		var marker = L.marker([latitude, longitude]).addTo(mymap);
		<% if (coordinationArr) { %>
			var c = <%- JSON.stringify(coordinationArr) %>
			for(var i = 0; i < c.length; i++) {
				var marker = L.marker(c[i], {title: i, riseOnHover: true}).addTo(mymap);
			}
		<% } %>
	 </script>
	 <script>
		// var map = L.map('imgleaf').setView([38.9, -77.03], 14)
		// L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		// 		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		// }).addTo(mymap);
		var d1 = new Date();
		leafletImage(mymap, function(err, canvas) {
			// now you have canvas
			// example thing to do with that canvas:
			var d2 = new Date();
			console.log(d2.getTime() - d1.getTime(), ' miliseconds');
			var img = document.createElement('img');
			var dimensions = mymap.getSize();
			img.width = dimensions.x;
			img.height = dimensions.y;
			img.src = canvas.toDataURL();
			document.getElementById('images').innerHTML = '';
			document.getElementById('images').appendChild(img);
		});
		// L.browserPrint().addTo(mymap)
	 </script>
	</body>
</html>
