<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% if (profileUser._id == user._id) { %>
    <title>Trang cá nhân</title>
  <% } else { %>
    <title><%= profileUser.fullname %></title>
  <% } %>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/admin/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/admin/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/stylesheets/cropper.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style type="text/css">
    img#imgPreview {
      max-width: 100%; /* This rule is very important, please do not ignore this! */
    }
  </style>
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <% include alte-header %>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <% include alte-left-sidebar %>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= (profileUser._id == user._id) ? 'Trang cá nhân' : 'Thông tin tài khoản' %>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><%= (profileUser._id == user._id) ? 'Trang cá nhân' : 'Thông tin tài khoản' %></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-success">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" style="width: 150px; height: 150px;" src="<%= (('avatar' in profileUser) && ('original' in profileUser.avatar) && (profileUser.avatar.original)) ? ('/' + profileUser.avatar.original) : '/admin/dist/img/user4-128x128.jpg' %>" alt="User profile picture">

              <h3 class="profile-username text-center"><%= profileUser.fullname %></h3>
              <%
                let obj = {
                  'admin': 'Admin',
                  'manager': 'Quản lý',
                  'user': 'Nhân viên',
                  'pending-user': 'Nhân viên'
                }
              %>
              <p class="text-muted text-center"><%= obj[profileUser.level] %></p>
              <br>
              <strong><i class="fa fa-book margin-r-5"></i> Mã đề tài</strong>

              <p class="text-muted">
                <%= profileUser.maDeTai %>
              </p>

              <strong><i class="fa fa-book margin-r-5"></i> Đề tài</strong>

              <p class="text-muted">
                <%= profileUser.deTai %>
              </p>

              <hr>
              <strong><i class="fa fa-folder-open margin-r-5"></i> Số lượng mẫu vật đã nhập</strong>
              <p></p>
              <ul class="list-group list-group-unbordered">
                <% for(let s of profileUser.statistic) { %>
                  <li class="list-group-item">
                    <%= s.title %> <a class="pull-right"><%= s.number %></a>
                  </li>
                <% } %>
                
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          
        </div>
        <!-- /.col -->
        <% if (profileUser._id == user._id) { %>
          <div class="col-md-9">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li><a href="#settings" data-toggle="tab">Thông tin tài khoản</a></li>
                
              </ul>
              <div class="tab-content">
                
                <div class="tab-pane active" id="settings">
                  <form class="form-horizontal" method="post" enctype='multipart/form-data' id="form-update-info">
                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label">Tên</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="inputFullName" id="inputName" value="<%= profileUser.fullname %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                      <div class="col-sm-10">
                        <input type="email" disabled="disabled" class="form-control" id="inputEmail" value="<%= profileUser.username %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail" class="col-sm-2 control-label">Ảnh đại diện</label>

                      <div class="col-sm-10">
                        <input type="file" class="form-control" name="inputAvatar" id="inputAvatar" onchange="handleChangeAvatar(this)">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail" class="col-sm-2 control-label">Crop ảnh đại diện</label>

                      <div class="col-sm-4">
                        <div id="divPreview"><img src="" id="imgPreview"></div>
                      </div>
                      <div class="col-sm-6">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="oldPassword" class="col-sm-2 control-label">Mật khẩu cũ</label>

                      <div class="col-sm-10">
                        <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Nhập nếu muốn đổi mật khẩu">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-sm-2 control-label">Mật khẩu mới</label>

                      <div class="col-sm-10">
                        <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputRepeat" class="col-sm-2 control-label">Nhập lại</label>

                      <div class="col-sm-10">
                        <input type="password" class="form-control" name="inputRepeat" id="inputRepeat" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label text-success"><%= msg %></label>
                    </div>
                    
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <a href="#" class="btn btn-success" onclick="handleSubmit()">Cập nhật</a>
                        
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
        <% } %>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/admin/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/admin/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->


<!-- CryptoJS -->
<script type="text/javascript" src="/javascripts/crypto-js.js"></script>

<script type="text/javascript">
  /**
   * dataURLToBlob => get from https://github.com/ebidel/filer.js/blob/master/src/filer.js#L137
   *
   * @param {string} dataURL Raw data display in string
   * @return {object} Blob
   */
  var dataURLToBlob = function(dataURL) {
    var BASE64_MARKER = ';base64,';
    if (dataURL.indexOf(BASE64_MARKER) == -1) {
      var parts = dataURL.split(',');
      var contentType = parts[0].split(':')[1];
      var raw = decodeURIComponent(parts[1]);

      return new Blob([raw], {type: contentType});
    }

    var parts = dataURL.split(BASE64_MARKER);
    var contentType = parts[0].split(':')[1];
    var raw = window.atob(parts[1]);
    var rawLength = raw.length;

    var uInt8Array = new Uint8Array(rawLength);

    for (var i = 0; i < rawLength; ++i) {
      uInt8Array[i] = raw.charCodeAt(i);
    }

    return new Blob([uInt8Array], {type: contentType});
  }
    var cropper = undefined;
    function ob (x) {
      return document.getElementById(x);
    }
    
    function handleSubmit () {
      var plainPass = ob('inputPassword').value;
      var repeatPassword = ob('inputRepeat').value;
      var oldPassword = ob('oldPassword').value;
      // Do not need to clear. File will be replaced in server
      // (function clearFileInput(ctrl) {
      //   try {
      //     ctrl.value = null;
      //   } catch(ex) { console.log(ex); }
      //   if (ctrl.value) {
      //     ctrl.parentNode.replaceChild(ctrl.cloneNode(true), ctrl);
      //   }
      // })(ob('inputAvatar'))
      
      if (plainPass != repeatPassword){
        return alert('Mật khẩu không khớp')
      }
      if (plainPass){
        var i = 0;
        while (i < 1000){
          plainPass = CryptoJS.MD5(plainPass).toString();
          repeatPassword = CryptoJS.MD5(repeatPassword).toString();
          oldPassword = CryptoJS.MD5(oldPassword).toString();
          i++;
        }
        ob('inputPassword').value = plainPass;
        ob('inputRepeat').value = repeatPassword;
        ob('oldPassword').value = oldPassword;

      }
      // ob('croppedAvatar').value = getCroppedImageDataURL();
      // ob('imgCroppedPreview').value = getCroppedImageDataURL();
      // console.log(ob('croppedAvatar').value);
      var fd = new FormData(ob('form-update-info'));
      try {
        fd.append('croppedAvatar', dataURLToBlob(getCroppedImageDataURL()))
      }
      catch (e){
        console.log(e);
      }
      fd.delete('inputAvatar')
      $.ajax({
        url: '/users/me',
        method: 'POST',
        contentType: false,
        mimeType: 'multipart/form-data',
        data: fd,
        processData: false,
        success: function (data) {
          console.log(data);
          try {
            data = JSON.parse(data);
            if (data.status == 'success'){
              
            }
            else {
              alert('Có lỗi xảy ra. Vui lòng thử lại.')
            }
            window.location.reload(true);
          }
          catch (e){
            console.log(e);
          }
        },
        error: function (err) {
          console.log(err);
          try {
            err = JSON.parse(err.responseText);
            alert(err.error)
          }
          catch (e){
            console.log(e);
            alert('Có lỗi xảy ra. Vui lòng thử lại')
          }
          finally {
            ob('inputPassword').value = ''
            ob('inputRepeat').value = ''
            ob('oldPassword').value = ''
          }
        }
      })
      // $('#btnSubmit').click();
      
    }
    function handleChangeAvatar(input) {
      // console.log(input.files[0]);
      // document.getElementById('imgPreview').src = input.files[0]
      readURL(input)

    }
    function readURL(input) {
      console.log('read');
      $('#imgPreview').attr('src', '');

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#imgPreview').attr('src', e.target.result);
          try {
            cropper.destroy();
          }
          catch (err){
            console.log(err);
          }
          startCropper();
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
  <script src="/javascripts/cropper.min.js"></script>
  <script type="text/javascript">
    function startCropper() {
      var image = document.getElementById('imgPreview');
      cropper = new Cropper(image, {
        aspectRatio: 1 / 1
      });
    }
    function getCroppedImageDataURL() {
        // console.log('clicked');
        var canvas = cropper.getCroppedCanvas();
        // $('#result').html(canvas);
        return canvas.toDataURL('image/jpeg');
        // console.log(x);
      }
  </script>
</body>
</html>


