<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Nhật ký</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="/admin/bootstrap/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<!-- DataTables -->
	<link rel="stylesheet" href="/admin/plugins/datatables/dataTables.bootstrap.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/admin/dist/css/AdminLTE.min.css">
	<!-- AdminLTE Skins. Choose a skin from the css/skins
			 folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="/admin/dist/css/skins/_all-skins.min.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		.table-responsive{
			overflow-x: scroll;
			overflow-y: hidden;
			width: 100%;
		}
		.div-table{
			width: 100%;
			min-width: 500px;
		}
	</style>
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

	<header class="main-header">
		<% include ../alte-header %>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<% include ../alte-left-sidebar %>
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Lịch sử hoạt động
				
			</h1>
			<ol class="breadcrumb">
				<li><a href="/home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
				<li class="active">Nhật ký</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					
					<!-- /.box -->

					<div class="box box-success">
						<div class="box-header">
							<h3 class="box-title">Toàn bộ lịch sử</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="table-responsive">
								<div class="div-table">
									<table id="example1" class="table table-bordered table-hover">
										<thead>
										<tr>
											<th>Tóm tắt</th>
											<th>Thời gian</th>
											<th>Nhân viên</th>
											<th>Hành động</th>
											<th>Loại dữ liệu</th>
											<th>Mẫu dữ liệu</th>
											<th>Liên kết</th>
										</tr>
										</thead>
										<tbody>
										<% for(var i = 0; i < logs.length; i++) { 
											var log = logs[i];
											console.log(log.id);
											var action = logs[i].action; %>
											<tr>

												<% let summary = '' 
													switch (action) {
														case 'create':
														case 'update':
														case 'delete':
														case 'approve':
														case 'disapprove':
															summary = log.userFullName + ' ' + actions[action].label + ' ' +  forms[log.objType].objectModelLabel + ' ' + logs[i].obj1._id.toString()
															break;
														case 'assign':
															summary = log.userFullName + ' assign ' + log.obj2.fullname + ' vào đề tài ' + log.obj2.maDeTai
															break;
														case 'fire':
															summary = log.userFullName + ' thu hồi quyền truy cập của tài khoản ' + log.obj2.fullname
															break;
														case 'grant-manager':
															summary = log.userFullName + ' cấp quyền chủ nhiệm đề tài ' + log.obj2.maDeTai + ' cho tài khoản ' + log.obj2.fullname
															break;
														case 'revoke-manager':
															summary = log.userFullName + ' thu hồi quyền chủ nhiệm đề tài ' + log.obj1.maDeTai + ' của tài khoản ' + log.obj1.fullname
															break;
														case 'add-mdt':
															summary = log.userFullName + ' tạo mới đề tài ' + log.obj1.tenDeTai + ' với mã ' + log.obj1.maDeTai + ', đơn vị chủ trì ' + log.obj1.donViChuTri
															break;
														case 'chown':
															summary = log.userFullName + ' chuyển đổi quyền sở hữu ' + forms[log.objType].objectModelLabel + ' ' + log.obj1._id + ' từ user ' + log.obj1.owner.userId + ' cho user ' + log.obj2.owner.userId
															break;
													}
												%>
												<td><span><i class="fa fa-fw fa-info-circle" title="<%= summary %>"></i></span></td>
												<% var date = new Date(logs[i].time) %>
												<td><%= (date != 'Invalid Date') ? [date.getFullYear(), date.getMonth() + 1, date.getDate()].join('/') + ', ' + [date.getHours(), date.getMinutes(), date.getSeconds()].join(':') : '' %></td>
												<td><a title="Lọc nhật ký của người dùng này" href="<%= path + '?user=' + log.userId %>"><h4><%= log.userFullName %></h4></a></td>
												<td><a title="Lọc nhật ký theo hành động này" href="<%= path + '?action=' + action %>"><h4><%= actions[action].label %></h4></a> </td>
												<td><a title="Lọc nhật ký theo loại dữ liệu này" href="<%= path + '?type=' + forms[log.objType].objectModelName %>"><span><%= forms[log.objType].objectModelLabel %></span></a>
												</td>
												<td>
													<% if (action != 'add-mdt') { %>
													<a title="Lọc nhật ký về mẫu dữ liệu này" href="<%= path + '?object=' + logs[i].obj1._id %>"><span> <%= logs[i].obj1._id.toString().substring(logs[i].obj1._id.toString().length - 5) %></span></a>
													<% } else { %>
														<span><%= log.obj1.maDeTai %></span>
													<% } %>
												</td>
												<td>
													<% var basePath = forms[log.objType].basePath; %>
													<% if (action == 'create') { %>
														<a href="<%= basePath %>/log/<%= log._id + '/1' %>"><h4>Dữ liệu tại thời điểm này</h4></a>
														<a href="<%= basePath %>/<%= log.obj1._id + '?display=html' %>"><h4>Dữ liệu hiện tại</h4></a>
													<% } else if (action == 'update') { %>
														<a href="<%= basePath %>/log/<%= log._id + '/diff' %>"><h4>Xem những cập nhật</h4></a>
														<a href="<%= basePath %>/<%= log.obj1._id + '?display=html' %>"><h4>Dữ liệu hiện tại</h4></a>
													<% } else if (action == 'delete') { %>
														<a href="<%= basePath %>/<%= log.obj1._id + '?display=html' %>"><h4>Mẫu dữ liệu bị xóa</h4></a>
													<% } else if ((action == 'approve') || (log.action == 'disapprove')) { %>
														<a href="<%= basePath %>/<%= log.obj1._id + '?display=html' %>"><h4>Dữ liệu hiện tại</h4></a>
													<% } else if (['assign', 'fire', 'grant-manager', 'revoke-manager'].indexOf(action) >= 0) { %>
														<a href="/users/<%= log.obj1._id %>">
															<h4>Chi tiết tài khoản</h4>
														</a>
														<br />
														<span>(<%= log.obj1.fullname %>)</span>
													<% } %>
												</td>
											</tr>

										<% } %>
										
										</tbody>
										<tfoot>
										<tr>
											<th>Tóm tắt</th>
											<th>Thời gian</th>
											<th>Nhân viên</th>
											<th>Hành động</th>
											<th>Loại dữ liệu</th>
											<th>Mẫu dữ liệu</th>
											<th>Liên kết</th>
										</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
		
	</footer>

	<!-- Control Sidebar -->
	
	<!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
			 immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script type="text/javascript">
	// $('.flexdatalist').flexdatalist({
	//       minLength: 0,
	//       valuesSeparator: '_-_'
	//     });
</script>

<!-- Bootstrap 3.3.6 -->
<script src="/admin/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/admin/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script type="text/javascript" src="/javascripts/adminjs.js"></script>
<!-- page script -->
<script src='/javascripts/footer.js'></script>
<script>
	$(function () {
		// $("#example2").DataTable();
		$('#example1').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"language": {
				"paginate": {
			        "first":      "Trang đầu",
			        "last":       "Trang cuối",
			        "next":       "Trang sau",
			        "previous":   "Trang trước"
			    },
			    "info": "Đang xem từ _START_ tới _END_ trong tổng số _TOTAL_ bản ghi",
			    "search": "Tìm kiếm:",
			    "lengthMenu":     "Xem _MENU_ dòng",
			    "decimal":        "",
			    "emptyTable":     "Không có dữ liệu",
			    "infoEmpty":      "Đang xem từ 0 tới 0 trong tổng số 0 bản ghi",
			    "infoFiltered":   "(lọc từ tổng số _MAX_ bản ghi)",
			    "infoPostFix":    "",
			    "thousands":      ",",
			    "loadingRecords": "Đang tải...",
			    "processing":     "Đang xử lý...",
			    "zeroRecords":    "Không có bản ghi nào phù hợp",
			    "aria": {
			        "sortAscending":  ": activate to sort column ascending",
			        "sortDescending": ": activate to sort column descending"
			    }
			}
		}).order([0, 'desc']).draw();
	});
</script>

<script>
	
	

	function ob(x) {
		return document.getElementById(x)
	}

	
</script>

</body>
</html>
